<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>
  
  <div class="container text-center">
    <h1 class="text-center">Bienvenidx xxxxxxxxx</h1>
    <h4 class="text-center d-none">Ahora el login funciona! Podés cerrar sesión cuando lo necesites</h4>
    <a class="btn btn-danger mt-4 d-none" role="button" href="#">Cerrar sesión</a>
  </div>

  <%- include('./partials/scripts') %>
</body>
</html>